@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(203, 41%, 72%); /*slate 300*/
}